/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Playball&display=swap');



/*my colors*/




/****************** Base Styles ******************/
/*
containing two sections: 
						_HTML Elements   
						_Coustom Classes 
*/

/******HTML Elements******/
*{
	margin: 0;
	box-sizing: border-box;
}

body{
	font-size: 16px;
	margin-top: 20px;
}

h1 {
	text-align: center ;
	font-size: 2.625rem;
	color: black;
 	/*text-shadow: 2px 2px black;*/
 	text-decoration: solid underline black 5px;
 	text-underline-position: under;
 	font-family: 'Playball', cursive;
}

h2 {
	text-align: center;
	border: 1px solid white;
	padding: .7rem;
    font-size: 1.875rem;
    font-family: 'Playball', cursive;
    color: white;
    float: right;
    width: 350px;
    background-color: hsl(350, 40%, 30%);
    box-shadow: 0px 0px 6px  white;
   
}

p{
	font-size: 1.5rem;
	clear: right;
	padding: 2rem;
	width: 90%;
	text-align: justify; /* equal line width for multiline paragraphs! */
	font-family: 'Bad Script', cursive;

}

/****** Coustom Classes ******/
.container{
	margin: 30px 20px;
}
.column {
	position: relative;
	border: 1px solid black;
	height: auto;
	margin: 20px 0;
	box-shadow: ;
	background-color: hsl(350, 40%, 0%);
	color: hsl(50, 100%, 50%);
}
#date {
		float: right;
}
