body{
	background-color: #A69200;
}

.navbar{
	background-color:#0975C8 ;
	height: 175px;
	color: #BBC809;
	border: none;
}
.logo-lg{
	margin-top: 20px;
}

.navbar-nav {
	margin-top: 60px;
	margin-left: 7%;
	margin-right: 7%;
	
}
.activ{
	border:2px solid white;
}

ul.nav:nth-child(2){
	font-size: 2em;
}
.navbar-default .navbar-nav > li > a{
	color: #BBC809;
	margin-right: 2px;
}

ul.nav:nth-child(3){
	font-size: 1.5em;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
	color: white;
	border:2px solid white;
}
.navbar{
	margin-bottom: 0px;
}

.jumbotron{
	padding: 0;
}
.jumbotron > img{
	width: 100%;
}
.logo-lg{
	box-sizing: border-box;
	height: 151px;
	margin-top: 20px;
	margin-left: 20px;
}


@media screen and (max-width: 1490px){
	.navbar-nav {
	margin-left: 20px;
	margin-right: 40px;
	}
	
}

@media screen and (max-width: 1193px){

	ul.nav:nth-child(3){
		display: none;
	}
	/*the ul element which has a class of nav and is the second child of its parent!*/
	ul.nav:nth-child(2){
		float: right;
		font-size: 1.2em;
	}
}